a{
  color:skyblue;
  text-decoration:none;
}
h1{
  font-size:100px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin:0;
  padding:20px;
}

body{
  margin:0;
  background-color:beige;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@media(min-width:500px) {
  #grid{
      display:grid;
      grid-template-columns: 200px 1fr;
  }
  #article{
    padding:10px;
  }

  #grid ol{
    font-family:'S-CoreDream-3Light';
    border-right: 1px solid gray;
    width:150px;
    margin:0;
    padding-left:50px;
    padding-top:10px;
  }
}

h2{
  margin:3px;
}

#table{
  text-align: center;
}

#weekdays{
  font-family: 'IBMPlexSansKR-Bold';
}
